.about {
    padding-top: 85px;
    padding-bottom: 110px;

    width: 100%;
}

.about .section-description {
    margin-bottom: 97px;
}

.about ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-inline: auto;
    list-style-type: none;
    width: 100%;
    max-width: 1200px;
}

.about li {
    position: relative;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s ease;
}

.about li img {
    display: block;
}

.about li > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    opacity: 0;
    transition: all .5s ease;
}

.about li > div img {
    margin-inline: auto;
}

.about li > div > div {
    margin-top: 6px;
}

.about li:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--psd-teal);
}

.about li:hover div {
    opacity: 1;
}

.about li:hover::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--gradient-filter);
}

.about li > img{
    width: 100%;
}

@media (max-width: 768px) {
    .about ul {
        width: 90%;
        grid-template-columns: 1fr;
    }
}