.banner {
    background: var(--gradient-filter),
        url("/images/banner-background.png") no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    
    align-items: center;
    padding-top: 15px;
}

.banner > * {
    margin-top: 180px;
}

.banner > *:first-child {
    margin-top: 0;
}

.banner .container {
    color: white;
    text-align: center;
}
.banner .container * {
    margin-inline: auto;
}

.banner .container > * {
    margin-top: 52px;
}

.banner .container > div:first-child {
    margin-top: 0;
}

.banner .container div > div:last-child {
    margin-top: 24px;
} 



.banner .container div:first-child {
    font-family: "Kaushan Script", serif;
    font-size: 72px;
}

.banner .container div:nth-child(2) {
    max-width: 1000px;

    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 150px;
    line-height: 0.94;
    letter-spacing: -5px;
    text-align: center;
}

.banner .container div:last-child {
     display: inline-block;
}

.learn-more-button {
    text-decoration: none;
    display: block;
    color: white;

    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 28px;
    border: 3px solid white;
}

@media (max-width: 1000px) {
    .banner .container div:first-child {
        font-size: 52px;
    }

    .banner .container div:nth-child(2) {
        width: 500px;
        font-size: 90px;
    }
}
@media (max-width: 530px) {
    .banner .container div:first-child {
        font-size: 30px;
    }

    .banner .container div:nth-child(2) {
        width: 300px;
        font-size: 60px;
    }
}
