.blog {
    padding-top: 103px;
    padding-bottom: 115px;
}

.blog ul {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 47px;
    margin-inline: auto;

    list-style-type: none;
}

.blog ul li {
    position: relative;
    max-width: 380px;
    display: flex;
    flex-direction: column;
}

.blog ul li .date {
    width: 60px;
    height: 70px;
    background-color: var(--psd-teal);

    position: absolute;
    z-index: 10;
    top: 42%;
    left: -10px;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog ul li .date span:first-of-type {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.blog ul li .date span:nth-of-type(2) {
    font-family: "Roboto", arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
}

.post-title {
    word-spacing: -2px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;

    margin-top: 13px;
}

.post-description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #999;
    line-height: 24px;
    word-spacing: 0px;
    font-weight: 500;

    margin-top: 10px;
}

.post-stats {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #999;
    font-weight: 200;
    font-style: italic;

    display: flex;
    gap: 18px;
    
}

.post-stats > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.blog ul li .separator {
    margin-top: 16px;
    margin-bottom: 17px;
}

.blog ul li img {
    width:100%;
}

@media (max-width: 400px) {
    .blog ul li .date {
         top: 120px;
    }
}