.blog {
    padding-top: 103px;
    padding-bottom: 115px;
}
.blog .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;

    margin-top: 47px;
    margin-inline: auto;
}

.blog-post {
    position: relative;
    width: 380px;
    display: flex;
    flex-direction: column;
}

.blog-post .date {
    width: 60px;
    height: 70px;
    background-color: var(--psd-teal);

    position: absolute;
    z-index: 10;
    top: 160px;
    left: -10px;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-post .date .day {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.blog-post .date .month {
    font-family: 'Roboto', arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
}

.post-title {
    word-spacing: -2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    padding-top: 13px;
}

.post-description {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #999;
    line-height: 24px;
    word-spacing: 0px;
    font-weight: 500;

    margin-top: 10px;
}

.post-stats {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #999;
    font-weight: 200;
    font-style: italic;

    display: flex;
    gap: 18px;
    justify-content: flex-start;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.blog-post .separator {
    margin-top: 16px;
    margin-bottom: 17px;
}

.blog-post:last-of-type .post-stats {
    gap:1px;
}