.blog {
    padding-top: 103px;
    padding-bottom: 115px;

}

.blog .heading {
    margin-bottom: 47px;
}

.image-container {
    position: relative;
}


.blog ul {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    margin-inline: auto;

    list-style-type: none;
}

.blog ul li {
    margin-inline: auto;
    position: relative;
    max-width: 380px;
}

.blog ul li .date {
    width: 60px;
    height: 70px;
    background-color: var(--psd-teal);

    position: absolute;
    z-index: 10;
    bottom: 12px;
    left: -10px;

    color: white;
    text-align: center;
}

.blog ul li .date * {
    margin: auto;
}

.blog ul li .date div:first-child{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top:5px;
}

.blog ul li .date div:last-child {
    font-family: "Roboto", arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
}

.post-title {
    word-spacing: -2px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;

    margin-top: 13px;
}

.post-description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--light-gray);
    line-height: 24px;
    word-spacing: 0px;
    font-weight: 500;

    margin-top: 10px;
}

.post-stats {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--light-gray);
    font-weight: 200;
    font-style: italic;

    display: flex;
    gap: 18px;
    
}

.post-stats > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.blog ul li .separator {
    margin-top: 16px;
    margin-bottom: 17px;
}

.blog ul li img {
    width:100%;
}

@media (max-width: 400px) {
    .blog ul li .date {
         top: 120px;
    }
}

@media (max-width: 1200px) {
    .blog ul {
        grid-template-columns: 1fr;
    }
}