.footer {
    padding-top: 62px;
    padding-bottom: 70px;

    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 47px;
}

.footer .container {
    max-width: 1200px;
    margin-inline: auto;
}

/* First Section */

.footer .contact {
    max-width: 480px;
}

.company-title {
    font-family: "Montserrat", sans-serif;
    font-size: 46px;
    color: #ccc;
    font-weight: 700;
}

.company-description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #999;
    line-height: 24px;
    word-spacing: 0px;
    font-weight: 600;

    padding-top: 25px;
}
.followers {
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Montserrat", sans-serif;

    padding-top: 43px;
}

.followers span:first-of-type {
    font-size: 18px;
    font-weight: 700;
}

.followers span:last-of-type {
    font-size: 14px;
}

.footer .separator {
    margin-top: 14px;
    margin-bottom: 17px;
}

.follow-us-container {
    display: flex;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    word-spacing: -1px;
}

.follow-us-container .social-media-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-left: 22px;
}

.subscribe {
    display: flex;
    gap: 0;

    margin-top: 35px;
}

.subscribe input {
    border: 1px solid #e7e7e7;

    height: 40px;
    width: 230px;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    word-spacing: -1px;
    text-indent: 13px;
}
.subscribe button {
    cursor: pointer;

    width: 150px;
    height: 40px;

    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--psd-teal);

    border: none;
}

.subscribe button:hover {
    background-color: black;
}

.footer-component-title {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #333;
}

.footer-component {
    padding-top: 14px;
}

/* Second section */
.footer-blog {
    max-width: 360px;
}

.footer-blog-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-top: 36px;
}

.footer-blog-posts a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: 20px;
}

.footer-blog-posts .post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.footer-blog-posts .post-details > span:first-of-type {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    word-spacing: -1px;
    line-height: 18px;
    color: #333;
}

.footer-blog-posts .post-details > span:last-of-type {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 300;
    color: #999;
    word-spacing: -1px;
}

/* Third section */
.instagram-posts {
    max-width: 270px;
}

.instagram-posts > div {
    margin-top: 37px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
}

.instagram-posts > div a {
    text-decoration: none;
    display: flex;
}

.instagram-posts > span:last-of-type {
    font-family: "Roboto";
    font-style: italic;
    font-size: 13px;
    font-weight: 300;
    color: #333;
    word-spacing: -1px;

    display: block;
    padding-top: 17px;
}
