.logos {
    background-color: #f8f8f8;
}

.logos > div {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-inline: auto;
}

.logos img {
    padding: 62px 0;
}
