.map {
    position: relative;

    background: linear-gradient(0deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), 
                url('/images/map-background.png') no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;

    padding: 57px 0;
}


.map span {
    word-spacing: -1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--psd-red);
}