.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:33vw;
    padding-top: 15px;
    font-family: "Montserrat", serif;
    color: white;

    max-width: 1200px;
}
.navbar > span {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -1px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
}

.navbar-links a:first-of-type {
    color: var(--psd-yellow);

    border-bottom: 3px solid var(--psd-yellow);
}

.navbar-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 53px;
    padding-top: 20px;
    font-size: 13px;
}

@media (max-width: 1200px) {
    .navbar {
        width: 100%;
        gap: unset;
    }
}

@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
    }
}
