.reviews {
    position: relative;
    background: url('/images/reviews-bg.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    padding: 105px 0 134px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:88px;
}


.reviews .container {
    z-index:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 42px;
    row-gap: 75px;
    
    width:67%;
}

.review {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 42.8%;

    column-gap: 29px;
}

.reviewer-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;    
}

.reviewer-details span:first-child{
    word-spacing: -2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.reviewer-details span:nth-child(2){
    margin-top: 7px;

    line-height: 24px;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    word-spacing: -1px;
}

.reviewer-details .message {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #999;
    line-height: 24px;
    word-spacing: 0px;
    font-weight: 500;
}

.reviewer-details .red-separator {
    margin-inline: 0;
    margin-top: 13px;
    margin-bottom: 19px;
}

