.services {
    padding-top: 105px;
    padding-bottom: 123px;
}

.services .heading {
    margin-bottom: 65px;
}

.service-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 4%;
    max-width: 1200px;
    margin-inline: auto;
}

.service-group > div {
    display: flex;
    column-gap: 29px;
}

.service-group > div > div > div:first-child {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-gray);
}

.service-group .service-description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--light-gray);
    line-height: 24px;
    word-spacing: 0px;

    margin-top: 7px;
}

.separator {
    max-width: 1200px;
    margin-inline: auto;
    
    height: 1px;
    background-color: #e5e5e5;
    margin: 48px auto;
}

@media (max-width: 992px) {
    .service-group {
        grid-template-columns: repeat(1, 1fr);
        width:90%
    }

    .service-group > div {
        width: 90%;
    }
}