.banner-slider {
    width: 80%;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-family: "Montserrat", serif;
    
}

.banner-slider > div {
    width: 100%;
    
    gap: 5px;

    color: rgba(255, 255, 255, 0.7);
    border-top: 3px solid rgba(255, 255, 255, 0.5);

    padding: 20px 0;
}

.banner-slider > div:first-child {
    color: white;
    border-top: 3px solid;
    border-image: linear-gradient(to right, var(--psd-red) 25%, white 25%) 1;
}

.banner-slider > div span:first-child {
    font-size: 24px;
    font-weight: bold;
}

.banner-slider > div span:last-child {
    font-size: 18px;
}

@media (min-width: 1250px) {
    .banner-slider {
        width: 1200px;
        gap: 30px;
    }
}

@media (max-width: 560px) {
    .banner-slider {
        width: 100%;
        justify-content: space-between;
    }

    .banner-slider > div span:first-child {
        font-size: 12px;
    }

    .banner-slider > div span:last-child {
        font-size: 13px;
    }
}
