.banner-slider {
    width: 80%;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-family: "Montserrat", serif;
}
@media (min-width: 1200px) {
    .banner-slider {
        width: 1200px;
        gap: 30px;
    }
}
.banner-slider > div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;

    color: rgba(255, 255, 255, 0.7);
    border-top: 3px solid rgba(255, 255, 255, 0.5);

    padding: 20px 0;
}

.banner-slider > div:first-of-type {
    color: white;
    border-top: 3px solid;
    border-image: linear-gradient(to right, var(--psd-red) 25%, white 25%) 1;
}

.banner-slider > div span:first-child {
    font-size: 24px;
    font-weight: bold;
}

.banner-slider > div span:nth-child(2) {
    font-size: 18px;
}
