.team {
    padding-top: 95px;
    padding-bottom: 113px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.team ul {
    margin-inline: auto;
    margin-top: 88px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    list-style-type: none;
}

.team ul li{
    position: relative;
}

.developer-image {
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developer-details {
    margin-top: 27px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.developer-details span:first-child {
    word-spacing: -2px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.developer-details span:nth-child(2) {
    margin-top: 7px;

    line-height: 24px;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    word-spacing: -1px;
}

.developer-links {
    position: absolute;
    width: 224px;
    height: 56px;

    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    opacity: 0;
    transition: all 0.5s ease;
}

.developer-links a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--psd-yellow);
    transition: all 0.2s ease;
}

.developer-links a:hover {
    background-color: var(--psd-red);
}

.secondary-link:not(:last-of-type) {
    border-right: 1px solid #f9bd87;
}

.developer-image:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--psd-teal);
}

.developer-image:hover .developer-links {
    opacity: 1;
}

.developer-image:hover::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--gradient-filter);
}

.developer-image > img {
    width: 100%;
}
