.team {
    padding-top: 95px;
    padding-bottom: 113px;    
}

.team .section-description {
    margin-bottom: 88px;
}

.team ul {
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    list-style-type: none;
    max-width: 1200px;
}

.team ul li{
    position: relative;
    display: block;
}

.developer-image {
    transition: all 0.5s ease;
}

.developer-image > img {
    display: block;   
    width: 100%;
}

.developer-details {
    margin-top: 27px;
    text-align: center;
}

.developer-details div:first-child {
    word-spacing: -2px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.developer-details div:last-child {
    margin-top: 7px;

    line-height: 24px;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: var(--light-gray);
    word-spacing: -1px;
}

.developer-links {
    position: absolute;
    min-width: 224px;
    height: 56px;

    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    opacity: 0;
    transition: all 0.5s ease;
}

.developer-links a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--psd-yellow);
    transition: all 0.2s ease;
}

.developer-links a:hover {
    background-color: var(--psd-red);
}

.secondary-link {
    border-right: 1px solid #f9bd87;
}

.secondary-link:last-child {
    border: 0;
}

.developer-image:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--psd-teal);
}

.developer-image:hover .developer-links {
    opacity: 1;
}

.developer-image:hover::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--gradient-filter);
}


@media (max-width: 1200px) {
    .team ul {
        width: 90%;
    }
}
@media (max-width: 770px) {
    .team ul {
        grid-template-columns: 1fr;
    }
}