.unique-design {
    padding-top: 108px;

    position: relative;
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.85) 0%,
            rgba(255, 255, 255, 0.85) 100%
        ),
        url("/images/unique-design-bg.png") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.small-phone {
    position: absolute;
    left: 53%;
    bottom: -90px;
}

.big-phone {
    display: block;

    margin-top: 43px;
    margin-inline: auto;
}

@media (max-width: 600px) {
    .small-phone {
        width: 30%;
        bottom: -50px;
    }

    .big-phone {
        width: 70%;
    }
}
